<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">About</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://codewithmosh.com/courses">Courses</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="{{site.baseurl}}/index.html">Blog</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.youtube.com/user/programmingwithmosh">YouTube</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://hasjob.co/">Jobs</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact Us</a>
</li>

